{##
 # HTML layout
 # @global {GlobalSet} header
 # @global {GlobalSet} footer
 # @param {bool} loadForm
 #}

{# Params #}
{% set loadForm = loadForm ?? false %}

{% set metaGlobal = craft.globalSets().handle('meta').with([
	'meta.image',
]).one() %}
{% set meta = metaGlobal.meta[0] ?? null %}

{# DO NOT INDEX #}
{% set metaNoIndex = true %}

{# Variables #}
{% set stylesFile = '/' ~ getenv('STYLES_FILE')
	|replace('.css', '.' ~ (getenv('STYLES_CACHE_HASH') ?: 'empty') ~ '.css') %}
{% set scriptsFile = '/' ~ getenv('SCRIPTS_FILE')
	|replace('.js', '.' ~ (getenv('SCRIPTS_CACHE_HASH') ?: 'empty') ~ '.js') %}

<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{{ metaTitle ?? meta.pageTitle ?? 'Titan Link' }}</title>
		<meta name="description" content="{{ metaDescription ?? meta.description ?? '' }}">
		<link rel="home" href="{{ siteUrl }}" />
		<link rel="canonical" href="{{ metaCanonical ?? siteUrl(craft.app.request.pathInfo) }}" />

		{# Robots noindex (development and staging only) #}
		{% if getenv('DISALLOW_ROBOTS') or metaNoIndex ?? false %}
			<meta name="robots" content="noindex" />
		{% endif %}

		<meta property="og:site_name" content="{{ siteName }}" />
		<meta property="og:url" content="{{ siteUrl(craft.app.request.pathInfo) }}" />
		<meta property="og:type" content="article" />
		<meta property="og:title" content="{{ metaTitle ?? meta.pageTitle ?? '' }}" />
		<meta property="og:description" content="{{ metaDescription ?? meta.description ?? '' }}" />
		<meta property="og:image" content="{{ metaFeaturedImageUrl ?? meta.image[0].url ?? '' }}" />
		<meta property="og:image:width" content="600" />
		<meta property="og:image:height" content="314" />
		<meta name="twitter:card" content="website" />
		<meta name="twitter:url" content="{{ siteUrl(craft.app.request.pathInfo) }}" />
		<meta name="twitter:title" content="{{ metaTitle ?? meta.pageTitle ?? '' }}" />
		<meta name="twitter:description" content="{{ metaDescription ?? meta.description ?? '' }}" />
		<meta name="twitter:image" content="{{ metaFeaturedImageUrl ?? meta.image[0].url ?? '' }}" />

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<meta name="author" content="Brass Tacks Web - Trevor Plassman" />
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#BEADFA">
		<meta name="msapplication-TileColor" content="#FFC40D">
		<meta name="theme-color" content="#1A4D24">

		<link rel="stylesheet" href="{{ stylesFile }}" />

		{% if getenv('CRAFT_ENVIRONMENT') != 'development' %}
			{# TODO: GTM Head #}
		{% endif %}
	</head>

	<body>
		{% if getenv('CRAFT_ENVIRONMENT') != 'development' %}
			{# TODO: GTM Body #}
		{% endif %}

		{% cache globally if not devMode %}
			{% set header = craft.globalSets().handle('header').with([
				'logo',
				'navLinks.pageCta:page',
				'navLinks.dropdown:navLinks.pageCta:page',
				'iconLinks',
				'cta.pageCta:page',
			]).one() %}
			{% if header %}
				<header>
					{% include '_components/header' with {
						logo: header.logo[0] ?? null,
						navLinks: header.navLinks,
						iconLinks: header.iconLinks,
						cta: header.cta ?? null,
					} only %}
				</header>
			{% endif %}
		{% endcache %}

		<main>
			{% block content %}{% endblock %}
		</main>

		{% cache globally if not devMode %}
			{% set footer = craft.globalSets().handle('footer').with([
				'sponsors',
				'logo',
				'address',
				'socialLinks',
				'cta.pageCta:page',
				'linkGroups.linkGroup:links.pageCta:page',
			]).one() %}
			{% if footer %}
				<footer>
					{% include '_components/footer' with {
						sponsors: craft.app.request.pathInfo == '' ? footer.sponsors : [],
						logo: footer.logo[0] ?? null,
						socialLinks: footer.socialLinks.all(),
						address: footer.address[0] ?? null,
						phoneNumber: footer.phoneNumber,
						cta: footer.cta ?? null,
						linkGroups: footer.linkGroups,
					} only %}
				</footer>
			{% endif %}
		{% endcache %}

		{% include '_components/modal' only %}
		{% include '_components/install-banner' only %}

		{% if loadForm %}
			<script src="https://www.google.com/recaptcha/enterprise.js?render={{ getenv('RECAPTCHA_SITE_KEY') }}"></script>
		{% endif %}
		<script src="{{ scriptsFile }}" defer></script>
	</body>
</html>
