{##
 # Background Image component
 # @param {string} url
 # @param {string} fit
 # @param {string} position
 # @param {object} video
 # |_@param {string} url
 # @param {object} mobileImage
 #}

{# Params #}
{% set url = url ?? '' %}
{% set fit = fit ?? '' %}
{% set position = position ?? '' %}
{% set video = video ?? null %}
{% set mobileImage = mobileImage ?? null %}

{# Variables #}
{% set handle = 'background-image' %}

{# Markup #}
<div class="{{ handle }}">
	<div style="
				background-image: url({{ url }});
				background-size: {{ fit ?? "cover" }};
				background-position: {{ position ?? "center" }}">
		{% if video %}
			<video src="{{ video.url }}" autoplay playsinline muted loop></video>
		{% endif %}
	</div>
	{% if mobileImage %}
		{% set url = mobileImage.url %}
		{% set fit = mobileImage.fit %}
		{% set pos = mobileImage.position %}

		<div style="
                    background-image: url({{ url }});
                    background-size: {{ fit ?? "cover" }};
                    background-position: {{ pos ?? "center" }}">
			{% if mobileImage.backgroundVideo %}
				<video src="{{ mobileImage.backgroundVideo.url }}" autoplay playsinline muted loop></video>
			{% endif %}
		</div>
	{% endif %}
</div>
