{##
 # Card component
 # @param {object} image
 # @param {string} heading
 # @param {HTML} body
 # @param {object} cta
 #}

{# Params #}
{% set image = image ?? null %}
{% set heading = heading ?? '' %}
{% set body = body ?? '' %}
{% set cta = cta ?? null %}

{# Variables #}
{% set handle = 'card' %}

{# Markup #}
<div class="{{ handle }}">
	{% set content %}
		<article>
			{% if image %}
				{{ image.render({ type: 'figure', transform: 'card' }) }}
			{% endif %}
			<header>
				<h3>{{ heading }}</h3>
				{% if body %}
					<div>{{ body }}</div>
				{% endif %}
				{% if cta %}
					<em>
						{% include '_components/cta' with {
							title: cta.title,
							type: 'tertiary',
							size: 'sm',
						} only %}
					</em>
				{% endif %}
			</header>
		</article>
	{% endset %}

	{% if cta %}
		{{ cta.render({ content: content }) }}
	{% else %}
		{{ content }}
	{% endif %}
</div>
