{##
 # Classes Listing component
 # @param {string} heading
 # @param {object[]} classes
 # |_@param {string} title
 # |_@param {string} url
 # |_@param {object} teacher
 #   |_@param {string} fullName
 #   |_@param {object} image
 #}

{# Params #}
{% set heading = heading ?? 'Class Pages' %}
{% set classes = classes ?? [] %}

{# Variables #}
{% set handle = 'classes-listing' %}

{# Markup #}
<div class="{{ handle }}">
	<header>
		<h2>{{ heading }}</h2>
	</header>
	{% if classes is not empty %}
		<ul>
			{% for c in classes %}
				<li>
					<article>
						<a href="{{ c.url }}" title="{{ c.title }}">
							<h3>{{ c.previewText }}</h3>
							{% if c.teacher and c.teacher.photo %}
								<img
									src="{{ c.teacher.photo.url }}"
									alt="{{ c.teacher.fullName }} headshot" />
							{% endif %}
						</a>
					</article>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
</div>
