{##
 # Class Details component
 # @param {object[]} announcements
 # |_@param {string} title
 # |_@param {HTML} details
 # @param {object<subject->update>} updatesBySubject
 # |_@param {string} title
 # |_@param {HTML} details
 #}

{# Params #}
{% set announcements = announcements ?? [] %}
{% set updatesBySubject = updatesBySubject ?? '' %}

{# Variables #}
{% set handle = 'class-details' %}

{# Markup #}
<div class="{{ handle }}">
	<div>
		<header>
			<h2>Class Announcements</h2>
		</header>
		{% for a in announcements %}
			<article>
				<h3>{{ a.title }}</h3>
				{% include '_components/expandable-text' with {
					text: a.details,
					labels: ['Read More', 'Collapse'],
				} only %}
			</article>
		{% endfor %}
	</div>
	<div>
		<header>
			<h2>Subject Updates</h2>
		</header>
		{% for subjectColor, updates in updatesBySubject %}
			{% set subject = subjectColor|split('-')|first %}
			{% set color  = subjectColor|split('-')|last %}

			<details>
				<summary>
					<h3>
						{% if color is not empty %}
							<i style="--c-subject:{{ color }}"></i>
						{% endif %}
						<span>{{ subject }}</span>
					</h3>
					<i></i>
				</summary>
				<div>
					{% for u in updates %}
						<h4>{{ u.title }}</h4>
						<div>{{ u.details }}</div>
					{% endfor %}
				</div>
			</details>
		{% endfor %}
	</div>
</div>
