{##
 # Class Hero component
 # @param {string} color
 # @param {object} teacher
 # @param {object} image
 # @param {object} teacher
 # @param {string} heading
 # @param {HTML} overview
 # @param {string} anchor
 #}

{# Params #}
{% set color = color ?? '' %}
{% set teacher = teacher ?? null %}
{% set image = image ?? null %}
{% set tacher = teacher ?? null %}
{% set heading = heading ?? '' %}
{% set overview = overview ?? '' %}
{% set anchor = anchor ?? '' %}

{# Variables #}
{% set handle = 'class-hero' %}

{# Markup #}
<div class="{{ handle }}">
	<div>
		{% if heading is not empty %}
			<h1>{{ heading }}</h1>
		{% endif %}
		{% if teacher is not empty %}
			{% set content %}
				{% if teacher.photo %}
					<img src="{{ teacher.photo.url }}" alt="{{ teacher.fullName }} headshot" />
				{% endif %}
				<h2>{{ teacher.fullName }}</h2>
			{% endset %}

			<address>
				{% if anchor is not empty %}
					<a href="#{{ anchor }}" title="Meet {{ teacher.fullName|split(' ')|first }}">
						{{ content }}
					</a>
				{% else %}
					{{ content }}
				{% endif %}
			</address>
		{% endif %}
		{% if overview is not empty %}
			<div>{{ overview }}</div>
		{% endif %}
		{% if anchor is not empty %}
			<a href="#{{ anchor }}" title="View Resource">View Resources</a>
		{% endif %}
	</div>
	{% if image %}
		{{ image.render({ type: 'figure' }) }}
	{% endif %}
</div>
