{##
 # Split component
 # @param {string} heading
 # @param {string} subheading
 # @param {HTML} body
 # @param {Entry[]} ctas
 # @param {object} image
 # @param {string} backgroundColor
 # @param {string} headingPosition <left*, right>
 # @param {string} headingAlignment <top, center*, bottom>
 #}

{# Params #}
{% set heading = heading ?? '' %}
{% set subheading = subheading ?? '' %}
{% set body = body ?? '' %}
{% set ctas = ctas ?? [] %}
{% set image = image ?? null %}
{% set backgroundColor = backgroundColor ?? '' %}
{% set headingPosition = headingPosition ?? 'left' %}
{% set headingAlignment = headingAlignment ?? 'center' %}

{# Variables #}
{% set handle = 'color-split' %}

{# Markup #}
<div class="
	{{ handle }}
	{{ handle }}--heading-position-{{ headingPosition }}
	{{ handle }}--heading-alignment-{{ headingAlignment }}
">
	<header style="background-color: var(--c-{{ backgroundColor }}-dk)">
		<h2>{{ heading }}</h2>
		{% if subheading is not empty %}
			<h3>{{ subheading }}</h3>
		{% endif %}
		{% if ctas is not empty %}
			<nav>
				{% for c in ctas %}
					{{ c.render({ type: loop.first ? 'primary' : 'tertiary' }) }}
				{% endfor %}
			</nav>
		{% endif %}
		{% if image %}
			{{ image.render({ type: 'figure' }) }}
		{% endif %}
	</header>
	<div style="background-color: var(--c-{{ backgroundColor }}-lt)">
		{{ body }}
	</div>
</div>
