{##
 # Figure component
 # @param {string} title
 # @param {string} url
 # @param {string} fit
 # @param {string} position
 # @param {string} alt
 # @param {string} caption
 # @param {object} video
 # @param {string} bigUrl
 # @param {bool} eagerLoad
 #}

{# Params #}
{% set title = title ?? '' %}
{% set url = url ?? '' %}
{% set fit = fit ?? 'cover' %}
{% set position = position ?? 'center' %}
{% set alt = alt ?? '' %}
{% set caption = caption ?? '' %}
{% set video = video ?? null %}
{% set bigUrl = bigUrl ?? '' %}
{% set eagerLoad = eagerLoad ?? false %}

{# Variables #}
{% set handle = 'figure' %}

{# Markup #}
<div class="{{ handle }}">
	<figure>
		<div>
			<img
				{% if bigUrl is not empty %}
					data-big-url="{{ bigUrl }}"
				{% endif %}
				src="{{ url }}"
				alt="{{ caption ?? alt ?? title }}"
				{% if not eagerLoad %}
					loading="lazy"
				{% endif %}
				style="
					object-size: {{ fit }};
					object-position: {{ position }}
				"/>
			{% if video %}
				<video
					style="
						object-size: {{ fit }};
						object-position: {{ position }}
					"
					src="{{ video.url }}"
					autoplay playsinline muted loop></video>
			{% endif %}
		</div>
		{% if caption is not empty %}
			<figcaption>{{ caption }}</figcaption>
		{% endif %}
	</figure>
</div>
