{##
 # Figure component
 # @param {string} title
 # @param {string} url
 # @param {string} alt
 # @param {string} caption
 # @param {object} video
 #}

{# Params #}
{% set title = title ?? '' %}
{% set url = url ?? '' %}
{% set alt = alt ?? '' %}
{% set caption = caption ?? '' %}
{% set video = video ?? null %}

{# Variables #}
{% set handle = 'figure' %}

{# Markup #}
<div class="{{ handle }}">
	<figure>
		<img
			src="{{ url }}"
			alt="{{ caption ?? alt ?? title }}"
			style="
				object-size: {{ fit ?? "cover" }};
				object-position: {{ position ?? "center" }}
			"
			loading="lazy" />
		{% if caption is not empty %}
			<figcaption>{{ caption }}</figcaption>
		{% endif %}
		{% if video %}
			<video src="{{ video.url }}" autoplay playsinline muted loop></video>
		{% endif %}
	</figure>
</div>
