{##
 # Footer component
 # @param {object[]} sponsors
 # @param {object} logo
 # @param {object[]} socialLinks
 # @param {Address} address
 # @param {string} phoneNumber
 # @param {object} cta
 # @param {object[]} linkGroups
 #}

{# Params #}
{% set sponsors = sponsors ?? [] %}
{% set logo = logo ?? null %}
{% set socialLinks = socialLinks ?? [] %}
{% set address = address ?? null %}
{% set phoneNumber = phoneNumber ?? null %}
{% set cta = cta ?? null %}
{% set linkGroups = linkGroups ?? [] %}

{# Variables #}
{% set handle = 'footer' %}

{# Markup #}
<div class="{{ handle }}">
	{% if sponsors is not empty %}
		<header>
			<h3>Thanks to our 2025 Sponsors</h3>
		</header>
		<ul>
			{% for s in sponsors %}
				<li>
					{{ s.render() }}
				</li>
			{% endfor %}
		</ul>
	{% endif %}
	<address>
		{% if logo %}
			{{ logo.render() }}
		{% endif %}
		{% if socialLinks is not empty %}
			<ul>
				{% for l in socialLinks %}
					<li>
						{{ l.render() }}
					</li>
				{% endfor %}
			</ul>
		{% endif %}
		<p>{{ address.addressLine1 }}
		<br />{{ address.locality }}, {{ address.administrativeArea }}&nbsp;{{ address.postalCode }}
		</p>
		<a href="tel:{{ phoneNumber }}" title="Call Us">{{ phoneNumber }}</a>
		{% if cta %}
			{{ cta.render({ invert: true }) }}
		{% endif %}
	</address>
	<nav>
		{% if linkGroups is not empty %}
			<ul>
				{% for g in linkGroups %}
					<li>
						<h3>{{ g.heading }}</h3>
						{% for l in g.links %}
							{{ l.render({ type: 'tertiary' , invert: true}) }}
						{% endfor %}
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	</nav>
</div>
