{##
 # Form component
 # @param {modules\components\models\Form} Form
 # @param {HTML} successMessage
 # @param {bool} invert
 #}

{# Params #}
{% set form = form ?? null %}
{% set successMessage = successMessage ?? '' %}
{% set invert = invert ?? false %}

{# Variables #}
{% set handle = 'form' %}
{% set siteKey = getenv('RECAPTCHA_SITE_KEY') %}
{% set redirectPath = form.getRedirectPath() %}

{# Markup #}
<tl-form
	class="{{ handle }} {{ invert ? handle ~ '--invert' }}"
	data-site-key="{{ siteKey }}"
	data-redirect-path="{{ redirectPath }}">
	<p></p>
	<form method="post" {% if devMode %}novalidate{% endif %}>
		{{ csrfInput() }}
		{{ actionInput(form.getActionPath()) }}
		{% if redirectPath is not empty %}
			{{ redirectInput(form.getRedirectPath()) }}
		{% endif %}

		{% for name in form.activeAttributes() %}
			{% if form.getAttributeType(name) == 'hidden' %}
				{{ hiddenInput(name, form[name]|hash) }}
			{% else %}
				<div class="{{ form.getAttributeSize(name) }}">
					{%include '_components/form-field' with {
						form: form,
						name: name,
						invert: invert,
					} %}
				</div>
			{% endif %}
		{% endfor %}

		<button type="submit">
			{% include '_components/cta' with {
				title: form.submitText,
				type: 'primary',
				invert: invert,
			} %}
		</button>
	</form>
	<div style="display: none">
		{{ successMessage }}
	</div>
</tl-form>
