{##
 # Header component
 # @param {object} logo
 # @param {object[]} navLinks
 # @param {object} cta
 #}

{# Params #}
{% set logo = logo ?? null %}
{% set navLinks = navLinks ?? [] %}
{% set cta = cta ?? null %}

{# Variables #}
{% set handle = 'header' %}

{# Markup #}
{% import '_icons' as icons %}

<div class="{{ handle }}">
	<input type="checkbox" id="nav-toggle" style="display: none" />
	<a href="{{ siteUrl }}" title="Home">
		{% if logo %}
			{{ logo.render() }}
		{% else %}
			TITAN<br />LINK</a>
		{% endif %}
	</a>
	<nav>
		<ul>
			{% for l in navLinks %}
				<li>
					{{ l.render({ type: 'tertiary', size: 'sm' }) }}
				</li>
			{% endfor %}
		</ul>
	</nav>
	{% if cta %}
		{{ cta.render() }}
	{% endif %}
	<label for="nav-toggle">
		<i aria-hidden="true"></i>
		<i aria-hidden="true"></i>
	</label>
</div>
