{##
 # Primary Hero component
 # @param {string} heading
 # @param {string} subheading
 # @param {HTML} body
 # @param {object[]} people
 # |_@param {string} title
 # |_@param {object} image
 # @param {object[]} ctas
 # @param {object} image
 # @param {string} backgroundColor
 # @param {string} type <default*, narrow>
 #}

{# Params #}
{% set heading = heading ?? '' %}
{% set subheading = subheading ?? '' %}
{% set body = body ?? '' %}
{% set people = people ?? null %}
{% set ctas = ctas ?? [] %}
{% set image = image ?? null %}
{% set backgroundColor = backgroundColor ?? '' %}
{% set type = type ?? 'default' %}

{# Variables #}
{% set handle = 'hero' %}

{# Markup #}
<div
	class="{{ handle }} {{ handle }}--type-{{ type }}"
	style="--bg-color: var(--c-{{ backgroundColor }}-lt)">
	{% if image and type != 'narrow' %}
		{{ image.render({ type: 'figure', transform: 'hero' }) }}
	{% endif %}
	<div>
		<h1>{{ heading }}</h1>
		{% if subheading is not empty %}
			<h2>
				{{ subheading }}
			</h2>
		{% endif %}
		{% for p in people %}
			<h3>
				{% if p.image %}
					<em>{{ p.image.render({ transform: 'avatar' }) }}</em>
				{% endif %}
				<span>{{ p.title }}</span>
			</h3>
		{% endfor %}
		{% if body is not empty %}
			<div>{{ body }}</div>
		{% endif %}
		{% if ctas is not empty %}
			<nav>
				{% for c in ctas %}
					{{ c.render({ type: loop.first ? 'primary' : 'secondary' }) }}
				{% endfor %}
			</nav>
		{% endif %}
	</div>
</div>
