{##
 # Primary Hero component
 # @param {string} heading
 # @param {string} subheading
 # @param {HTML} body
 # @param {object} avatar
 # @param {object[]} ctas
 # @param {object} image
 #}

{# Params #}
{% set heading = heading ?? '' %}
{% set subheading = subheading ?? '' %}
{% set body = body ?? '' %}
{% set avatar = avatar ?? null %}
{% set ctas = ctas ?? [] %}
{% set image = image ?? null %}

{# Variables #}
{% set handle = 'hero' %}

{# Markup #}
<div class="{{ handle }}">
	{% if image %}
		{{ image.render({ type: 'figure' }) }}
	{% endif %}
	<div>
		<h1>{{ heading }}</h1>
		{% if subheading is not empty %}
			<h2>{{ subheading }}</h2>
		{% endif %}
		{% if body is not empty %}
			<div>{{ body }}</div>
		{% endif %}
		{#
		{% if avatar %}
			<em>{{ avatar.render() }}</em>
		{% endif%}
		#}
		{% if ctas is not empty %}
			<nav>
				{% for c in ctas %}
					{{ c.render({
						type: loop.first ? 'primary' : 'secondary',
					}) }}
				{% endfor %}
			</nav>
		{% endif %}
	</div>
</div>
