{##
 # Home Dashboard component
 # @param {string} activitiesHeading
 # @param {string} remindersHeading
 #}

{# Params #}
{% set activitiesHeading = activitiesHeading ?? '' %}
{% set remindersHeading = remindersHeading ?? '' %}

{# Variables #}
{% set handle = 'home-dashboard' %}

{% set month = date('first day of next month') %}
{% set activities = craft.entries.section('activities')
	.with(['previewImage'])
	.relatedTo(craft.categories.group('months').slug(month|date('F')|lower).ids())
	.all() %}

{% set week = date('sunday last week') %}
{% set prevWeek = week|date_modify('-1 week')|atom %}
{% set nextWeek = week|date_modify('+1 week')|atom %}
{% set reminders = craft.entries.section('reminders')
	.with(['activity', 'cta'])
	.anyStatus()
	.postDate([
		'and',
		'>= ' ~ week|atom,
		'< ' ~ nextWeek|atom,
	])
	.all() %}
{% set reminders = craft.entries.section('reminders')
	.with(['activity', 'cta'])
	.all() %}

{% set params = {
	prevWeek: prevWeek,
	nextWeek: nextWeek,
} %}

{# Markup #}
{% import '_icons' as icons %}

<div class="{{ handle }}" data-comp-name="{{ handle }}" data-comp-params="{{ params|json_encode }}">
	<div>
		<h2>{{ remindersHeading }}</h2>
		<nav>
			<button type="button" aria-label="Previous">
				{{ icons.chevron("left") }}
			</button>
			<span>Week of {{ week|date('m/d/Y') }}</span>
			<button type="button" aria-label="Next">
				{{ icons.chevron("right") }}
			</button>
		</nav>
		<ul>
			{% for r in reminders %}
				<li>
					{% include '_components/reminder-card' with {
						reminder: r|merge({
							startDate: r.startDate ?? r.activity[0].startDate ?? null,
							cta: r.activity is not empty
								? craft.components.newLinkFromElement(r.activity[0], 'Learn More')
								: r.cta is not empty
									? craft.components.newCta(r.cta[0])
									: null
						}),
					} only %}
				</li>
			{% endfor %}
		</ul>
		<p>No reminders this week.</p>
	</div>
	<div>
		<h2>{{ activitiesHeading }}</h2>
		<ul>
			{% for a in activities %}
				<li>
					{% include '_components/activity-card' with {
						activity: a|merge({
							image: a.previewImage[0] ?? null,
						}),
					} only %}
				</li>
			{% endfor %}
		</ul>
		<p>No activities this month.</p>
	</div>
</div>
