{##
 # Intro component
 # @param {string} heading
 # @param {string} subheading
 # @param {HTML} body
 # @param {string} backgroundColor
 #}

{# Params #}
{% set heading = heading ?? '' %}
{% set subheading = subheading ?? '' %}
{% set body = body ?? '' %}
{% set backgroundColor = backgroundColor ?? '' %}

{# Variables #}
{% set handle = 'intro' %}

{# Markup #}
<div class="{{ handle }}" style="--bg-color: var(--c-{{ backgroundColor }}-lt)">
	<header>
		<h2>{{ heading }}</h2>
		{% if subheading is not empty %}
			<h3>{{ subheading }}</h3>
		{% endif %}
		{% if body is not empty %}
			<div>{{ body }}</div>
		{% endif %}
	</header>
</div>
