{##
 # Primary Hero component
 # @param {object} image
 # @param {string} heading
 # @param {string} subheading
 # @param {HTML} body
 # @param {Entry[]} ctas
 #}

{# Params #}
{% set image = image ?? null %}
{% set heading = heading ?? '' %}
{% set subheading = subheading ?? '' %}
{% set body = body ?? '' %}
{% set ctas = ctas ?? [] %}

{# Variables #}
{% set handle = 'primary-hero' %}

{# Markup #}
<div class="{{ handle }}">
	{% if image %}
		<img
			src="{{ image.url }}"
			alt="{{ image.caption ?? image.alt ?? image.title }}" />
	{% endif %}
	<div>
		<h1>{{ heading }}</h1>
		{% if subheading is not empty %}
			<h2>{{ subheading }}</h2>
		{% endif %}
		{% if body is not empty %}
			<div>{{ body }}</div>
		{% endif %}
		{% if ctas is not empty %}
			<nav>
				{% for c in ctas %}
					{{ c.render({
						type: loop.first ? 'primary' : 'secondary',
					}) }}
				{% endfor %}
			</nav>
		{% endif %}
	</div>
</div>
