{##
 # Reminder Card component
 # @param {object} reminder
 |_# @param {string} title
 |_# @param {DateTime} startDate
 |_# @param {string} text
 |_# @param {modules\components\models\Cta} cta
 #}

{# Params #}
{% set reminder = reminder ?? null %}

{# Variables #}
{% set handle = 'reminder-card' %}

{# Markup #}
{% import '_icons' as icons %}

<div class="{{ handle }}">
	<h4>
		{{ icons.info() }}
		{{ reminder.title }}
	</h4>
	{% if reminder.startDate %}
		<time datetime="{{ reminder.startDate|atom }}">
			{{ reminder.startDate|date('F j g:ia') }}
		</time>
	{% endif %}
	<p>{{ reminder.text }}</p>
	{% if reminder.cta %}
		<nav>
			{{ reminder.cta.render({
				title: 'Learn More',
				type: 'secondary',
				size: 'sm',
			}) }}
			{# TODO: Set Reminder #}
		</nav>
	{% endif %}
</div>
