{##
 # Subscriptions component
 # @param {string} heading
 # @param {string} body
 # @param {modules\components\models\Form} form
 # @param {bool} hasError
 #}

{# Params #}
{% set heading = heading ?? '' %}
{% set body = body ?? '' %}
{% set form = form ?? null %}
{% set hasError = hasError ?? false %}

{# Variables #}
{% set handle = 'subscriptions' %}

{# Markup #}
<tl-subscriptions
	class="{{ handle }} {% if hasError %} {{ handle }}--has-error{% endif %}"
	data-vapid-public-key="{{ getenv('VAPID_PUBLIC_KEY') }}">
	<form method="post" style="display: none;">
		{{ actionInput('notifications/subscriptions/subscribe-push') }}
		{{ csrfInput() }}
	</form>
	<form method="post" style="display: none;">
		{{ actionInput('notifications/subscriptions/unsubscribe-push') }}
		{{ csrfInput() }}
	</form>
	<div>
		<h1>{{ heading }}</h1>
		<p>{{ body }}</p>
		<button type="button">
			{% include '_components/cta' with {
				title: 'Subscribe to notifications',
			} %}
		</button>
		<div>
			{% include '_components/form' with { form: form } %}
			<button type="button">
				{% include '_components/cta' with {
					title: 'Unsubscribe from notifications',
					type: 'secondary',
				} %}
			</button>
		</div>
	</div>
</tl-subscriptions>
