{##
 # Text Block component
 # @param {string} heading
 # @param {string} subheading
 # @param {HTML} body
 # @param {object} cta
 #}

{# Params #}
{% set heading = heading ?? '' %}
{% set subheading = subheading ?? '' %}
{% set body = body ?? '' %}
{% set cta = cta ?? null %}

{# Variables #}
{% set handle = 'text-block' %}

{# Markup #}
<div class="{{ handle }}">
	<header>
		<h3>{{ heading }}</h3>
		<div>
			{% if subheading %}
				<h4>{{ subheading }}</h4>
			{% endif %}
			{% if cta %}
				{{ cta.render({
					type: 'secondary',
					size: 'sm',
				}) }}
			{% endif %}
		</div>
	</header>
	<div>{{ body }}</div>
</div>
