{##
 # Text Block component
 # @param {string} heading
 # @param {HTML} body
 # @param {modules\components\models\Cta} cta
 # @param {string} size <sm, md, lg*>
 # @param {string} alignment <left*, center, right>
 # @param {bool} split
 # @param {bool} invert
 #}


{# Params #}
{% set heading = heading ?? '' %}
{% set body = body ?? '' %}
{% set cta = cta ?? null %}
{% set size = size ?? 'lg' %}
{% set alignment = alignment ?? 'left' %}
{% set split = split ?? false %}
{% set invert = invert ?? false %}

{# Variables #}
{% set handle = 'text-block' %}

{# Markup #}
<div class="
	{{ handle }}
	{{ handle }}--size-{{ size }}
	{{ handle }}--align-{{ alignment }}
	{{ split ? handle ~ '--split' }}
	{{ invert ? handle ~ '--invert' }}
">
	<h2>{{ heading|nl2br }}</h2>
	{% if body is not empty or cta %}
		<div>
			{% if body is not empty %}
				<div>{{ body }}</div>
			{% endif %}
			{% if cta %}
				{{ cta.render('youtube.com' in cta.url
					? include('_components/video-cta', {
						title: cta.title,
						titlePosition: 'right',
					})
					: include('_components/text-cta', {
						title: cta.title,
						url: siteUrl not in cta.url ? cta.url : '',
						type: 'secondary',
						size: size,
						invert: invert,
					})
				) }}
			{% endif %}
		</div>
	{% endif %}
</div>
