{##
 # Text CTA component
 # @param {string} title
 # @param {string} type <primary*, secondary, tertiary>
 # @param {string} size <sm, md*, lg>
 # @param {bool} invert
 #}

{# Params #}
{% set title = title ?? '' %}
{% set type = type ?? 'primary' %}
{% set size = size ?? '' %}
{% set invert = invert ?? false %}

{# Variables #}
{% set handle = 'text-cta' %}

{# Markup #}
{% import '_icons' as icons %}

<div
	class="
		{{ handle }}
		{{ handle }}--type-{{ type }}
		{{ handle }}--size-{{ size }}
		{{ invert ? handle ~ '--invert' }}
	"
	style="--size: var(--s-icon-{{ size }})"
>
	<span>
		{{ icons.chevron('right') }}
		{{ title }}
	</span>
</div>
